* {
	box-sizing: border-box;
	font-family: sans-serif;
}

/******  NAV  ******/

.main-nav {
	position: fixed;
	left: 0;
	height: 100%;
	width: 180px;
	background-color: grey;
	padding-top: 20px;
}

.nav-head-image {
	width: 80px;
	border-radius: 100px;
	display: block;
	margin: 0 auto 0;
}

.nav-head-pair {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-head-pair img {
	width: 25px;
}

.nav-pair {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.nav-pair img {
	width: 30px;
}

.nav-pair h3 {
	margin: 0;
}



/* Dropdown Button */
.drop-1-button,
.drop-2-button,
.drop-3-button {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: none;
    border-radius: 4px;
}

/* The container <div> - needed to position the dropdown content */
.mobile-drop-1,
.mobile-drop-2,
.mobile-drop-3 {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.drop-1-content,
.drop-2-content,
.drop-3-content {
    display: none;
    position: absolute;
    top: 61px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: calc(50% - 80px);
}

/* Links inside the dropdown */
.drop-1-content a,
.drop-2-content a,
.drop-3-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.drop-1-content a:hover,
.drop-2-content a:hover,
.drop-3-content a:hover {
	background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.mobile-drop-1:hover .drop-1-content,
.mobile-drop-1:active .drop-1-content,
.mobile-drop-1:focus .drop-1-content,
.mobile-drop-1:visited .drop-1-content,
.mobile-drop-2:hover .drop-2-content,
.mobile-drop-2:active .drop-2-content,
.mobile-drop-2:focus .drop-2-content,
.mobile-drop-2:visited .drop-2-content,
.mobile-drop-3:hover .drop-3-content,
.mobile-drop-3:active .drop-3-content,
.mobile-drop-3:focus .drop-3-content,
.mobile-drop-3:visited .drop-3-content  {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.mobile-drop-1:hover .drop-1-button,
.mobile-drop-2:hover .drop-2-button,
.mobile-drop-3:hover .drop-3-button {
    background-color: #3e8e41;
}






/**************  START RIGHT SIDE  ****************/

.right-side {
	margin-left: 180px;
}


/******  HEADER  ******/

header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid grey;
}

header img {
	width: 40px;
	margin: 18px;
}

.search-box, .search-box-mobile {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.search-box input {
	width: 330px;
	border: none;
	font-size: 22px;
}

.search-box-mobile input {
	width: 330px;
	border: none;
	font-size: 22px;
	}

.search-box img {
	margin-right: 5px;
}

.search-box-mobile img {
	width: 30px;
}

.search-input-small {
	display: none;
}

.header-right {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header-icon-surround {
	/*border-right: 1px solid grey;*/
	border-left: 1px solid grey;
}

.surround-1 {
	border-right: 1px solid grey;
	border-left: none;
}

#toggled-header-icon {
	display: none;
}

/******  SECTION - TITLE  ******/

.title {
	padding: 0px 10px; 
}

.title-top {
	display: flex;
	justify-content: space-between;
}

.title-top h1 {
	margin: 18px 0 4px;
}

.title-left img {
	width: 16px;
	display: inline-block;
	position: relative;
	top: 4px;
	margin-left: 5px;
}

.title-left h5 {
	display: inline-block;
	margin: 0;
	font-size: 16px;
}

.title-left span {

}

.title-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.title-icons {
	border: 1px solid lightgrey;
	border-radius: 30px;
	padding: 5px;
	height: 33px;
	width: 33px;
	margin-left: 10px;
}

.title-icons img {
	width: 20px;
}

.open-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 33px;
	width: 84px;
}

.open-button img {
	width: 15px;
	border-radius: 30px;
}

.title-nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.title-nav-hover {
	padding: 2px 10px;
	cursor: pointer;
	border-bottom: 3px solid #fff;
}

.title-nav-hover:hover {
	border-bottom: 3px solid blue;
}





/* Dropdown Button */
.drop-right-button {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: none;
}

/* The container <div> - needed to position the dropdown content */
.drop-right {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.drop-right-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 155px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.drop-right-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.drop-right-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.drop-right:hover .drop-right-content,
.drop-right:active .drop-right-content,
.drop-right:focus .drop-right-content,
.drop-right:visited .drop-right-content   {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.drop-right:hover .drop-right-button {
    background-color: #3e8e41;
}



/******  SECTION - Grey BG Top  ******/

.grey-bg {
	background-color: #ddd;
}

.grey-bg-top {
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
}

.grey-left-holder {
	width: 58%;
	height: 300px;
	
}

.grey-right-holder {
	width: 42%;
	display: flex;
	flex-direction: column;
}

.meter-graphs-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 210px;
	margin: 10px;
}

.meter-graphs-container h2,
.meter-graphs-container p {
	margin: 0;
}

.meter-graphs {
	background-image: url('../assets/icon-circle.svg');
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 180px;
	height: 180px;
}

.outline-buttons {
	border: 1px solid lightgrey;
	padding: 5px;
	width: 239px;
	height: 33px;
	margin: auto;
	display: flex;
	align-items: center;
	border-radius: 30px;
	background-color: white;
	cursor: pointer;
	color: #333;
}

.outline-buttons-right {
	width: 164px;
}

.outline-buttons:hover {
	background-color: #eee;
}

.outline-buttons h3 {
	display: block;
	margin: auto;
	width: 212px;
	font-size: 16px;
}

.outline-buttons-right h3 {
	width: 140px;
}

.bar-graph-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.bar-graph-container img {
	margin: 10px;
	width: 370px;
	height: 210px;
}

/******  SECTION - Grey BG Bottom  ******/

.right-grey-bg-bottom {
	background-color: #ddd;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(200px, auto);
	padding: 10px 40px;
}

.description-block {
  	grid-column: 1 / 3;
  	grid-row: 1 / 5;
  	background-color: #eee;
  	margin-right: 40px;
  	border-radius: 4px;
}

.d-block-row {
	background-color: #fff;
	padding-left: 35px;
	padding-right: 35px;
}

.d-block-row h6, .d-block-row p {
	font-size: 16px;
	margin: 0;
}

.row-1 {
	background-color: #bbb;
	color: #fff;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.last-row {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.row-1 h6 {
	display: flex;
	align-self: center;
}

.row-spacer {
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid #ddd;
	padding-top: 34px;
	padding-bottom: 34px;
}

.row-1 .row-spacer, .last-row .row-spacer  {
	border-bottom: none;
}

.row-1 .row-spacer {
	padding-top: 26px;
	padding-bottom: 26px;
}

.row-left{
	width: 30%;
}
.row-right {
	width: 70%;
}

.row-hiring {
	display: flex;
	align-items: center;
}

#edit-pen-button {
	width: 88px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 0;
	background-color: #ccc;
	border: none;
	color: white;
	transition: background-color .3s ease-in-out;
	cursor: pointer;
	border-radius: 4px;
}

#edit-pen-button:hover {
	background-color: #ddd;
	transition: background-color .3s ease-in-out;
}

#edit-pen-button img {
	width: 18px;
	margin-right: 6px;
}


.d-block-image {
	width: 30px;
	border-radius: 30px;
}











.right-grey-bg-bottom hr {
	border: 2px solid white;
	opacity: .6;
}

.social-links-block {
	grid-column: 3;
	grid-row: 1;
	display: flex;
	align-items: space-between;
	flex-direction: column;
}

.social-button {
	display: flex;
	width: 100%;
	height: 58px;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: 5% center;
	background-size: 24px;
	border: none;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
}

.facebook-button {
	background-color: #5071BB;
	background-image: url(../assets/icon-facebook.svg);
	margin-bottom: 15px;
	transition: background-color .3s ease-in-out;
}

.facebook-button:hover {
	background-color: #3C558C;
	transition: background-color .3s ease-in-out;
}

.twitter-button {
	background-color: #42A7E9;
	background-image: url(../assets/icon-twitter.svg);
	margin-bottom: 15px;
	transition: background-color .3s ease-in-out;
}

.twitter-button:hover {
	background-color: #2183C4;
	transition: background-color .3s ease-in-out;
}

.linkedin-button {
	background-color: #3180B7;
	background-image: url(../assets/icon-linkedin.svg);
	transition: background-color .3s ease-in-out;
}

.linkedin-button:hover {
	background-color: #256089;
	transition: background-color .3s ease-in-out;
}



.input-block-1 h4,
.input-block-2 h4,
.input-block-3 h4 {
	margin: 15px 0 0;
	font-size: 22px;
	display: inline-block;
}

.input-block-1 p,
.input-block-2 p,
.input-block-3 p {
	margin-bottom: 22px;
}

.input-block-1 img,
.input-block-2 img,
.input-block-3 img {
	width: 30px;
	margin: 15px 0 0;
	position: relative;
	top: 6px;
}



.input-block-1 {
	grid-column: 3;
	grid-row: 2;
	/*background-color: #bbb;*/
	width: 100%;
}

.input-block-1 input,
.input-block-2 input {
	width: 75%;
	height: 58px;
	font-size: 22px;
	border: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-bottom: 25px;
}

.input-block-1 button,
.input-block-2 button {
	width: 25%;
	height: 58px;
	border: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	font-size: 18px;
	position: relative;
	top: -2px;
	color: #fff;
}

.input-block-2 {
	grid-column: 3;
	grid-row: 3;
	/*background-color: #999;*/
	width: 100%;
	
}

.input-block-3 {
	grid-column: 3;
	grid-row: 4;
	/*f*/
	width: 100%;
}

.input-block-3 input {
	width: 100%;
	height: 58px;
	font-size: 22px;
	border: none;
	border-radius: 4px;
}



/**************  END RIGHT SIDE  ****************/


/**************  MEDIA QUERIES  ****************/

@media screen and (max-width: 1130px) {
	.title-nav h3 {
		font-size: 16px;
	}
}


@media screen and (max-width: 1024px) {
	.title-top {
		flex-direction: column;
	}

	.title-nav {
		display: none;
	}

	.drop-right-button {
		display: block;
	}

	.grey-bg-top {
		flex-direction: column;
	}

	.grey-left-holder {
		width: 100%
		
	}

	.grey-right-holder {
		width: 100%;
	}

	.right-grey-bg-bottom {
		grid-template-columns: repeat(2, 1fr);
	}

	.description-block {
	  	grid-column: 1 / 3;
	  	grid-row: 1 / 5;
	  	margin-right: 0;
	 }

	.social-links-block {
	 	grid-column: 1;
	 	grid-row: 5;
	}

	.input-block-1 {
		grid-column: 2;
		grid-row: 5;
	}

	.input-block-2 {
		grid-column: 1;
		grid-row: 6;
	}

	.input-block-3 {
		grid-column: 2;
		grid-row: 6;
	}



}

@media screen and (max-width: 890px) {
	.search-input-full {
		display: none;
	}
	.search-input-small {
		display: block;
	}
	.search-box input {
		width: 125px;
	}
}

@media screen and (max-width: 768px) {
	.main-nav {
		position: static;
		width: 100%;
		padding: 20px;
	}

	.right-side {
		margin-left: 0;
	}

	.nav-times-three {
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (max-width: 560px) {
	.nav-times-three {
		display: none;
	}
	.mobile-nav {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.drop-1-button,
	.drop-2-button,
	.drop-3-button {
		display: block;
		width: 250px;
		margin: 12px auto;
	}
	.grey-left-holder {
		height: initial;
	}

	.meter-graphs-container {
		flex-direction: column;
		height: initial;
	}

	.bar-graph-container img {
		height: initial;
	}
	.header-icon-surround {
		display: block;
	}


}

@media screen and (max-width: 496px) {
	.search-box {
		display: none;
	}

	.search-box-mobile {
		margin-left: auto;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.search-input-full {
		display: block;
	}

	.header-right {
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.header-icon-surround {
		
		border-left: 1px solid grey;
	}

	.surround-1 {
		display: none;
	}

	.surround-4 {
		border-right: 1px solid grey;
	}

	#toggled-header-icon {
		display: block;
	}



	

}











