* {
	box-sizing: border-box;
	color: #555;
	font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
}

p {
	font-family: 'Trykker', serif;
}

button, input {
	font-family: 'Quicksand', sans-serif;
}

*::placeholder {
	color: #ddd;
}

/******  NAV  ******/

.main-nav {
	background-color: #164173;
	height: 100%;
	left: 0;
	padding-top: 20px;
	position: fixed;
	width: 180px;
}

.nav-headings {
	color: #fff;
	margin: 15px 0 0 5px;
	opacity: .7;
}

.nav-head-image {
	border-radius: 100px;
	display: block;
	margin: 0 auto 0;
	width: 80px;
}

.nav-1,
.nav-2,
.nav-3 {
	width: 170px;
}

.nav-head-pair {
	align-items: center;
	display: flex;
	justify-content: center;
}

.nav-hr {
	border: 1px solid #000;
	margin: 18px 0;
	opacity: .2;
}

.nav-head-pair img {
	margin-bottom: 14px;
	width: 152px;
}

.nav-head-pair h1 {
	font-size: 24px;
}

.nav-pair {
	align-items: center;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	margin: 5px;
	transition: background-color .3s ease-in-out;
}

.nav-pair:hover {
	background-color: #1E5799;
	transition: background-color .3s ease-in-out;
}

.nav-pair img {
	height: 25px;
	margin: 3px 12px 3px 9px;
	width: 25px;
}

.nav-pair h3 {
	color: #fff;
	font-size: 16px;
	margin: 0;
}

.nav-span-1 {
	color: #fff;
	opacity: .7;
}

.drop-1-button,
.drop-2-button,
.drop-3-button {
    background-color: #C1CDDF;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 16px;
    padding: 16px;
}

.mobile-drop-1,
.mobile-drop-2,
.mobile-drop-3 {
    display: inline-block;
    position: relative;
}

.drop-1-content,
.drop-2-content,
.drop-3-content {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    left: calc(50% - 80px);
    min-width: 160px;
    position: absolute;
    top: 61px;
    z-index: 1;
}

.drop-1-content a,
.drop-2-content a,
.drop-3-content a {
    color: black;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}

.drop-1-content a:hover,
.drop-2-content a:hover,
.drop-3-content a:hover {
	background-color: #E4EBF3;
}

.mobile-drop-1:hover .drop-1-content,
.mobile-drop-1:active .drop-1-content,
.mobile-drop-1:focus .drop-1-content,
.mobile-drop-1:visited .drop-1-content,
.mobile-drop-2:hover .drop-2-content,
.mobile-drop-2:active .drop-2-content,
.mobile-drop-2:focus .drop-2-content,
.mobile-drop-2:visited .drop-2-content,
.mobile-drop-3:hover .drop-3-content,
.mobile-drop-3:active .drop-3-content,
.mobile-drop-3:focus .drop-3-content,
.mobile-drop-3:visited .drop-3-content  {
    display: block;
}

.mobile-drop-1:hover .drop-1-button,
.mobile-drop-2:hover .drop-2-button,
.mobile-drop-3:hover .drop-3-button {
    background-color: #789AC2;
}

/**************  START RIGHT SIDE  ****************/

.right-side {
	margin-left: 180px;
}

/******  HEADER  ******/

header {
	align-items: center;
	border-bottom: 1px solid grey;
	display: flex;
	justify-content: flex-start;
}

header img {
	margin: 23px;
	width: 30px;
}

.search-box {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

.search-box-mobile {
	align-items: center;
	border-bottom: 1px solid grey;
	display: none;
	justify-content: center;
	margin-left: auto;
	padding: 23px 0;
}

.search-box input {
	border: none;
	font-size: 22px;
	width: 330px;
}

.search-box-mobile input {
	border: none;
	font-size: 22px;
	width: 330px;
	}

.search-box img {
	margin-right: 5px;
}

.search-box-mobile img {
	width: 30px;
}

.search-input-small {
	display: none;
}

.header-right {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
}

.header-icon-surround {
	border-left: 1px solid grey;
	cursor: pointer;
	height: 77px;
	transition: background-color .3s ease-in-out;
}

.header-icon-surround:hover {
	background-color: #E4EBF3;
	transition: background-color .3s ease-in-out;
}

.header-right-icon-2 {
	left: 2px;
	position: relative;
	top: 5px;
}

.surround-1 {
	border-left: none;
	border-right: 1px solid grey;
}

#toggled-header-icon {
	display: none;
}

/******  SECTION - TITLE  ******/

.title {
	padding: 20px 20px 0; 
}

.title-span {
	color: #95CD6F;
	cursor: pointer;
	transition: color .3s ease-in-out;
}

.title-span:hover {
	color: #709A53;
	transition: color .3s ease-in-out;
}

.title-top {
	display: flex;
	justify-content: space-between;
}

.title-top h1 {
	font-size: 48px;
	margin: 18px 0 4px;
}

.title-left img {
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top: 4px;
	width: 16px;
}

.title-left h5 {
	display: inline-block;
	font-size: 16px;
	margin: 0;
}

.title-left span {

}

.title-right {
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

.title-icons {
	background-color: #F0F8EA;
	border: 1px solid lightgrey;
	border-radius: 30px;
	cursor: pointer;
	height: 33px;
	margin-left: 10px;
	padding: 5px;
	transition: background-color .3s ease-in-out;
	width: 33px;
}

.title-icons:hover {
	background-color: #D5EBC5;
	transition: background-color .3s ease-in-out;
}

.title-icons img {
	width: 20px;
}

.open-button {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 33px;
	width: 84px;
}

.open-button img {
	border-radius: 30px;
	margin-right: 5px;
	width: 10px;
}

.title-nav {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	margin-top: 32px;
}

.title-nav h3 {
	color: #1E5799;
}

.title-nav-hover {
	border-bottom: 3px solid #fff;
	cursor: pointer;
	margin-left: 18px;
	margin-right: 18px;
	padding: 2px 0;
	transition: border .3s ease-in-out;
}

.title-nav-hover:hover {
	border-bottom: 3px solid #1E5799;
	transition: border .3s ease-in-out;
}

.drop-right-button {
    background-color: #BFE1A9;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #1E5799;
    cursor: pointer;
    display: none;
    font-size: 16px;
    padding: 9px 13px 8px;
    transition: background-color .3s ease-in-out;
}

.drop-right {
    display: inline-block;
    position: relative;
}

.drop-right-content {
    background-color: #DAE3EC;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    min-width: 155px;
    position: absolute;
    z-index: 1;
}

.drop-right-content a {
    color: #1E5799;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}

.drop-right-content a:hover {
	background-color: #f1f1f1
}

.drop-right:hover .drop-right-content,
.drop-right:active .drop-right-content,
.drop-right:focus .drop-right-content,
.drop-right:visited .drop-right-content   {
    display: block;
}

.drop-right:hover .drop-right-button {
    background-color: #789AC2;
    transition: background-color .3s ease-in-out;
}

/******  SECTION - Grey BG Top  ******/

.grey-bg {
	background-color: #F0F8EA;
	padding-bottom: 20px;
}

.grey-bg-top {
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	padding-top: 33px;
	margin-top: -18px;
}

.grey-left-holder {
	width: 58%;
}

.grey-right-holder {
	display: flex;
	flex-direction: column;
	width: 42%;
}

.meter-graphs-container {
	align-items: center;
	display: flex;
	height: 210px;
	justify-content: space-around;
	margin: 10px;
}

.meter-graphs-container h2,
.meter-graphs-container p {
	margin: 0;
}

.meter-graphs {
	align-items: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	height: 180px;
	justify-content: center;
	width: 180px;
}

.meter-graphs-1 {
	background-image: url('../assets/circle-1.svg');
}

.meter-graphs-2 {
	background-image: url('../assets/circle-2.svg');
}

.meter-graphs-3 {
	background-image: url('../assets/circle-3.svg');
}

.outline-buttons {
	align-items: center;
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 30px;
	color: #333;
	display: flex;
	height: 33px;
	margin: auto;
	padding: 5px;
	width: 239px;
}

.outline-buttons-right {
	width: 237px;
}

.outline-buttons h3 {
	display: block;
	font-size: 16px;
	margin: auto;
	width: 211px;
}

.outline-buttons-right h3 {
	width: 213px;
}

.bar-graph-container {
	align-items: flex-start;
	display: flex;
	justify-content: center;
}

.bar-graph-container img {
	height: 210px;
	margin: 10px;
	width: 370px;
}

.right-grey-bg-hr {
	padding: 0px 40px 36px;
}

.right-divider-hr {
	border: 1px solid black;
	opacity: .1;
}

.right-grey-bg-hr img {
	display: block;
	margin: auto;
	position: relative;
	top: 32px;
	width: 45px;
	z-index: 1;
}

/******  SECTION - Grey BG Bottom  ******/

.right-grey-bg-bottom {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(200px, auto);
	padding: 10px 40px;
}

.description-block {
  	background-color: rgba(255,255,255,1);
  	border-radius: 4px;
  	grid-column: 1 / 3;
  	grid-row: 1 / 5;
  	margin-right: 40px;
}

.d-block-row {
	padding-left: 35px;
	padding-right: 35px;
}

.d-block-row h6, .d-block-row p {
	font-size: 16px;
	margin: 0;
}

.d-block-row p {
	margin-left: 5px;
}

.row-1 {
	background-color: #95CD6F;
	color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.last-row {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.row-1 h6 {
	align-self: center;
	color: #fff;
	display: flex;
	font-family: 'Bilbo Swash Caps', cursive;
	font-size: 40px;
}

.row-spacer {
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: flex-start;
	padding-top: 34px;
	padding-bottom: 34px;
}

.row-1 .row-spacer, .last-row .row-spacer  {
	border-bottom: none;
}

.row-1 .row-spacer {
	padding-bottom: 26px;
	padding-top: 26px;
}

.row-left {
	width: 30%;
}

.row-right {
	margin-left: auto;
	width: 70%;
}

.row-1 .row-left {
	width: 70%;
}
.row1 .row-right {
	width: 30%;
}

.row-hiring {
	align-items: center;
	display: flex;
}

#edit-pen-button {
	align-items: center;
	background-color: #709A53;
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 10px;
	transition: background-color .3s ease-in-out;
	width: 88px;
}

#edit-pen-button:hover {
	background-color: #567342;
	transition: background-color .3s ease-in-out;
}

#edit-pen-button img {
	margin-right: 6px;
	width: 18px;
}

.d-block-image {
	border-radius: 30px;
	margin-right: 10px;
	margin-top: -12px;
	margin-bottom: -12px;
	width: 60px;
}

.right-grey-bg-bottom hr {
	border: 1px solid black;
	opacity: .1;
}

.social-links-block {
	align-items: space-between;
	display: flex;
	grid-column: 3;
	grid-row: 1;
	flex-direction: column;
}

.social-button {
	align-items: center;
	background-position: 5% center;
	background-repeat: no-repeat;
	background-size: 24px;
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: flex;
	height: 58px;
	justify-content: center;
	width: 100%;
}

.facebook-button {
	background-color: #5071BB;
	background-image: url(../assets/icon-facebook.svg);
	margin-bottom: 15px;
	transition: background-color .3s ease-in-out;
}

.facebook-button:hover {
	background-color: #3C558C;
	transition: background-color .3s ease-in-out;
}

.twitter-button {
	background-color: #42A7E9;
	background-image: url(../assets/icon-twitter.svg);
	margin-bottom: 15px;
	transition: background-color .3s ease-in-out;
}

.twitter-button:hover {
	background-color: #2183C4;
	transition: background-color .3s ease-in-out;
}

.linkedin-button {
	background-color: #3180B7;
	background-image: url(../assets/icon-linkedin.svg);
	transition: background-color .3s ease-in-out;
}

.linkedin-button:hover {
	background-color: #256089;
	transition: background-color .3s ease-in-out;
}

.input-block-1 h4,
.input-block-2 h4,
.input-block-3 h4 {
	color: #1E5799;
	display: inline-block;
	font-size: 22px;
	margin: 15px 0 0;
}

.input-block-1 p,
.input-block-2 p,
.input-block-3 p {
	margin-bottom: 22px;
}

.input-block-1 img,
.input-block-2 img,
.input-block-3 img {
	margin: 15px 5px 0 0;
	position: relative;
	top: 6px;
	width: 30px;
}

.input-block-1 {
	grid-column: 3;
	grid-row: 2;
	width: 100%;
}

.input-block-1 input,
.input-block-2 input {
	background-color: rgba(255,255,255,1);
	border: none;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	font-size: 22px;
	height: 58px;
	margin-bottom: 25px;
	width: 75%;
}

.input-block-1 button,
.input-block-2 button {
	background-color: #95CD6F;
	border: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	height: 58px;
	position: relative;
	top: -2px;
	transition: background-color .3s ease-in-out;
	width: 25%;
}

.input-block-1 button:hover,
.input-block-2 button:hover {
	background-color: #709A53;
	transition: background-color .3s ease-in-out;
}

.input-block-2 {
	grid-column: 3;
	grid-row: 3;
	width: 100%;
}

.input-block-3 {
	grid-column: 3;
	grid-row: 4;
	width: 100%;
}

.input-block-3 input {
	border: none;
	border-radius: 4px;
	font-size: 22px;
	height: 58px;
	opacity: 1;
	text-align: center;
	width: 100%;
}

/**************  END RIGHT SIDE  ****************/


/**************  MEDIA QUERIES  ****************/

@media screen and (max-width: 1130px) {
	.title-nav h3 {
		font-size: 16px;
	}
}

@media screen and (max-width: 1024px) {
	.title-top {
		flex-direction: column;
	}

	.title-nav {
		display: none;
	}

	.title-right {
		justify-content: space-around;
		margin: 45px 30px;
	}

	.drop-right-button {
		display: block;
	}

	.grey-bg-top {
		flex-direction: column;
	}

	.grey-left-holder {
		margin-bottom: 42px;
		width: 100%;
		
	}

	.grey-right-holder {
		margin-bottom: -7px;
		width: 100%;
	}

	.right-grey-bg-bottom {
		grid-template-columns: repeat(2, 1fr);
	}

	.description-block {
	  	grid-column: 1 / 3;
	  	grid-row: 1 / 5;
	  	margin-bottom: 34px;
	  	margin-right: 0;
	 }

	.social-links-block {
	 	grid-column: 1;
	 	grid-row: 5;
	}

	.input-block-1 {
		grid-column: 2;
		grid-row: 5;
	}

	.input-block-2 {
		grid-column: 1;
		grid-row: 6;
	}

	.input-block-3 {
		grid-column: 2;
		grid-row: 6;
	}

	.right-grey-bg-bottom hr {
		display: none;
	}

	.social-links-block, .input-block-2 {
		padding-right: 20px;
	}

	.input-block-1, .input-block-3 {
		padding-left: 20px;
	}
	.meter-graphs-container {
		height: initial;
	}

	.right-grey-bg-hr {
	    padding: 0px 40px 36px;
	}
}

@media screen and (max-width: 890px) {
	.search-input-full {
		display: none;
	}
	.search-input-small {
		display: block;
	}
	.search-box input {
		width: 125px;
	}
}

@media screen and (max-width: 768px) {
	.main-nav {
		padding: 20px 50px;
		position: static;
		width: 100%;
	}

	.nav-hr {
		display: none;
	}

	.right-side {
		margin-left: 0;
	}

	.nav-times-three {
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (max-width: 560px) {
	.main-nav {
		padding: 20px 20px;
	}

	.nav-times-three {
		display: none;
	}

	.mobile-nav {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.drop-1-button,
	.drop-2-button,
	.drop-3-button {
		display: block;
		margin: 12px auto;
		width: 250px;
	}

	.grey-left-holder {
		height: initial;
	}

	.meter-graphs-container {
		flex-direction: column;
		height: initial;
	}

	.bar-graph-container img {
		height: initial;
	}

	.header-icon-surround {
		display: block;
	}

	.right-grey-bg-bottom {
		padding: 10px 0;
	}

	.d-block-row {
		padding-left: 10px;
		padding-right: 10px;
	}

	.row-1, .last-row {
		border-radius: 0;
	}

	.social-links-block, .input-block-2 {
		padding-left: 10px;
		padding-right: 10px;
	}

	.input-block-1, .input-block-3 {
		padding-left: 10px;
		padding-right: 10px;
	}

	.right-grey-bg-hr {
		padding: 14px 0px 36px;
	}

	.grey-right-holder {
		margin-bottom: -16px;
	}
}

@media screen and (max-width: 496px) {
	.title-right {
		margin: 45px 0;
	}

	.search-box {
		display: none;
	}

	.search-box-mobile {
		display: flex;
	}

	.search-box-mobile input {
		width: 256px;
	}

	.search-input-full {
		display: block;
	}

	.header-right {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: auto;
		width: 100%;
	}

	.header-icon-surround {
		
		border-left: 1px solid grey;
	}

	.surround-1 {
		display: none;
	}

	.surround-4 {
		border-right: 1px solid grey;
	}

	#toggled-header-icon {
		display: block;
	}

	.row-left {
		width: 40%;
	}

	.row-right {
		width: 60%;
	}

	.right-grey-bg-bottom {
		grid-template-columns: repeat(1, 1fr);
	}

	.description-block {
	  	grid-column: 1;
	  	grid-row: 1 / 5;
	  	margin-right: 0;
	}

	.social-links-block {
	 	grid-column: 1;
	 	grid-row: 5;
	}

	.input-block-1 {
		grid-column: 1;
		grid-row: 6;
	}

	.input-block-2 {
		grid-column: 1;
		grid-row: 7;
	}

	.input-block-3 {
		grid-column: 1;
		grid-row: 8;
		margin-bottom: 20px;
	}
	.social-links-block, .input-block-2 {
		padding-left: 20px;
		padding-right: 20px;
	}

	.input-block-1, .input-block-3 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.right-grey-bg-bottom hr {
		display: block;
	}
}
